.navbar-custom {
    background-color: #2F2Fa2;
}

.navbar-custom .navbar-brand {
    color: white;
}

.navbar-custom .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: white;
}

.navbar-custom .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    color: black !important;
}

.HeadImage {
    background-color: #2F2Fa2;
    height: 90vh;
}

#image {
    border-radius: 200px;
    height: 300px;
    width: 300px;
}

.Intro {
    background-color: #2F2Fa2;
    color: white;
}

.Heading {
    font-size: 3.4rem;
    font-family: 'Sansita Swashed', cursive;
    color: #f64c72;
}

.ProjectTitle {
    color: #f64c72;
}

.parallax {
    background-image: url('./assets/images/Background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.experience {
    border-radius: 16px !important;
}