* {
    scroll-behavior: smooth;
}

.navbar-custom {
    background-color: #2F2Fa2;
}

.navbar-custom .navbar-brand {
    color: white;
}

.navbar-custom .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: white;
}

.navbar-custom .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    color: black !important;
}

.HeadImage {
    background-color: #2F2Fa2;
    height: 90vh;
}

#image {
    border-radius: 200px;
    height: 300px;
    width: 300px;
}

.Intro {
    background-color: #2F2Fa2;
    color: white;
}

.Heading {
    font-size: 3.4rem;
    font-family: 'Sansita Swashed', cursive;
    color: #f64c72;
}

.ProjectTitle {
    color: #f64c72;
}

.parallax {
    background-image: url('./assets/images/Background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.experience {
    border-radius: 16px !important;
}

.Details {
    font-size: 1.4rem;
}

.ContactForm {
    border: 1px solid gray;
    border-radius: 16px;
}

.field {
    width: 100%;
}

.footer {
    width: 100%;
    height: 50px;
    background-color: #2F2Fa2;
}

.Icon {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-left: 16px;
    margin-top: 7px;
}

ul {
    list-style: none;
    display: flex;
}